<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta >
	<title>Registration</title>
	<style type="text/css">
		.form {
			margin: 200px auto;
			width: 100%;
			background-color: steeleblue;
			text-align: center;
		}

		button, input{
			margin: 10px;
		}

	</style>
</head>
<body>
<div>
	<div class="form">
<form action="https://supplyai-test.herokuapp.com/api/v1/bouncer/user/register" method="post">
	<input type="email" name="email" placeholder="email" id="txtEmail">
	<br>
	<button type="submit">Register</button>

</form>
</div>

</div>



</body>
</html>